/* Large screens */
@media screen and (min-width: 768px) {

    /* Navigation */
    nav ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #0c0c0c;
        padding: 1rem 0;
    }


    nav ul li {
        flex: 1 1 100%;
    }


    /* Main Content */
    section {
        box-shadow: 1px 1px black;
    }

    .card {
        margin-bottom: 3px;
    }

    .card ul {
        list-style-type: none;
    }
}

@media (min-width: 768px) {
    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
    }

    .card:nth-of-type(1) {
        grid-column: 1 / 2;
    }

    .card:nth-of-type(2) {
        grid-column: 2 / 2;
    }
}